* {
  box-sizing: border-box;
  margin: 0;
}

ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
span {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.MuiContainer-root {
  height: calc(100vh - 64px);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
